body {
  background-color: #C6CCCF;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #546972;
  max-height: 150px;
}

.louth-header {
  color: white;
  font-size: 1.5em;
}

.louth-header a {
  color: white;
  text-decoration: none;
}

.slogan {
  position: relative;
  bottom: 0;
}

.logo {
  max-height: 100px;
  margin: 20px;
  float: right;
}

@media only screen and (max-width: 992px) {
  .logo-container {
    text-align: center;
  }
  .logo {
    float: none;
  }
  .civic-nav .navbar-brand {
    font-size: 1rem
  }
}

.civic-nav .nav-item {
  background-color: #464646;
  margin-right: 5px;
}

.civic-nav .nav-item .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-collapse {
  margin-top: 5px;
}

/*content goes below here*/
 .margin-top-50 {
   margin-top: 50px;
 }


/*footer goes below here */


footer {
  text-align: center;
}
